:root {
  --primary-color: #9130F4;
  --secondary-color: #121139;
  --neutral-color: #F4F4F4;
  --default-text-color: #FFFFFF;
  --button-primary-color-hover: #8020e0;

  --font-family: 'Inter';
  
  --font-size-h1: 54px;
  --font-size-h2:45px;
  --font-size-h3: 18px;
  --font-size-body: 16px;

  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.5px;
}
body {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  color: var(--default-text-color);
  background-color: var(--secondary-color);
}
ul {
  list-style-type: none;
}

.highlighted-text {
  color: var(--primary-color);
}
.rect-button {
  border-radius: 10px;
}
.bold, h1, h2, h3 {
  font-weight: var(--font-weight-bold);
  color: var(--neutral-color);
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}